@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Orbitron&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #282C34;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 100%;

}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px;
  justify-content:center;
  align-items: center;
  margin: 0 auto;
  width: 1000px;
 
}
.header {
  width: 100%;
  display: flex;
  font-size: 13px;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}
.header h1{

  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
}
.select-input {
  padding: 8px;
  border-radius: 5px;
  max-height: 120px;
}
.main-section {
  margin-top: 128px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.main-header {
  font-size:32px ;
  margin-bottom: 32px;
  font-family: 'Montserrat', sans-serif;
  
}
.main-text {
  font-size: 18px;
  padding: 0 32px;
}
.info-wrapper {
 margin-top: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .parent-wrapper {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  .info-wrapper {
    display: flex;
    flex-direction: column;
  }
  .main-text {
    font-size: 14px;
    padding: 0;
  }
  .select-input {
    width: 140px;
  }
}